/**** GRID AND FLEXBOX ****/
/**** OUTSIDE GRID ****/
.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

/**** MAIN GRID ****/
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "dashboard"
        "alert"
        "traffic"
        "top-line-graph"
        "daily-traffic"
        "mobile-users"
        "social"
        "members"
        "activity"
        "message"
        "settings";
}

/*Dashboard and Search Bar*/
.main-header {
    grid-area: dashboard;
}

/*Alert Bar*/
.alert {
    grid-area: alert;
}

/*Traffic Title and Timely Links*/
.traffic {
    grid-area: traffic;
}

/*Top Line Graph*/
.widget-container-full {
    grid-area: top-line-graph;
}

/*Daily Traffic Area*/
.daily {
    grid-area: daily-traffic;
}

.mobile-users {
    grid-area: mobile-users;
}

.social {
    grid-area: social;
}

.members {
    grid-area: members;
}

.recent-activity {
    grid-area: activity;
}

.message {
    grid-area: message;
}

.settings {
    grid-area: settings;
}

/**** Media Queries ****/
@media (min-width: 768px) {
    .container {
        grid-template-columns: 65px 1fr;
        grid-template-areas: 
            "header header"
            "nav main";
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "dashboard dashboard"
            "alert alert"
            "traffic traffic"
            "top-line-graph top-line-graph"
            "daily-traffic mobile-users"
            "social social"
            "members activity"
            "message settings"
    }

    nav {
        display: inline;
    }

    /*** Styles ***/
    .recent-activity {
        border-left: .75px solid black;
    }

    .widget-container-full {
        width: 90vw;
        margin: auto;
    }

    .widget-container-half {
        width: 45vw;
    }
}