/**** GRID AND FLEXBOX ****/

.container {
    display: grid;
    grid-template-columns: 150px 3fr;
    grid-template-areas: 
        "header header"
        "nav main";
    background: pink;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;

}

