.container {
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #6A6CCF;
    color: white;
}

/**** Header Section ****/
h1 {
    margin: auto auto auto 15px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bell {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bell-svg {
    display: block;
}

.notification {
    position: relative;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    background-color: limegreen;
    padding: 3px;
    top: -10px;
    left: -5px;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-left: 0.5px solid black;
}

.user_image {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 5px;
}

.user-name {
    margin: auto 5px;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

/**** Link Styles ****/
a {
    text-decoration: none;
}

/**** Main Header ****/
.main-header {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.75px solid black;
}

.headline {
    padding: 10px 15px;
    margin: 0;
    border-right: .75px solid black;
    border-bottom: none;
    line-height: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/**** Search Bar ****/
.main-header-search {
    margin: auto 20px auto auto;
    width: 40%;
}

.main-header-search input {
    padding: 10px;
    width: 100%;
    border: 0.5px solid black;
    border-radius: 6px;
    vertical-align: middle;
    background-color: #F6F6F6;
}

.main-header-search input:focus {
    border: 1px solid #6A6CCF;
    border-radius: 6px;
    outline: none;
}

/**** Nav Section ****/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #194265;
    margin: 0;
}

.nav-icon {
    padding: 15px;
    cursor: pointer;
}

.nav-icon:first-child {
    border-bottom: 3px solid limegreen;
    border-radius: 2px;
}

/**** Alert Banner ****/
.alert {
    padding: 15px;
    display: flex;
    background-color: #6A6CCF;
    color: white;
    border-radius: 5px;
    margin: 15px auto 0 auto;
    width: calc(100% - 85px);
    height: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.alert p:first-child {
    margin: auto auto auto 0;
}

.alert-banner-close {
    margin: auto 0 auto auto;
}

.alert-banner-close:hover {
    cursor: pointer;
}

.label {
    margin: 15px auto 15px 5px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.5;
}

/**** Charts Section ****/
.widget-container-full, .widget-container-half {
    width: 90vw;
    margin: 20px auto 15px auto;
}

/**** Traffic Section ****/
.traffic {
    padding: 10px;
}

.traffic h3 {
    margin: auto auto auto 5px;
}

.traffic-header {
    display: flex;
    flex-wrap: wrap;
}

.traffic-nav {
    display: flex;
    flex-wrap: wrap;
}

.traffic-nav-link {
    list-style: none;
    margin: 5px;
    padding: 5px 10px;
    color: white;
    background-color: #6A6CCF;
    border-radius: 16px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/**** Active Nav Link ****/
.active {
    background-color: #56D93D;
    color: #fff;
    box-shadow: 2px 2px gray;
    font-weight: 600;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

/**** Social Section ****/
.containers_for_social {
    display: flex;
    flex-wrap: wrap;
}

.social {
    display: block;
    padding: 10px;
}

.social-image {
    margin: auto 10px;
    border: 1px solid #6A6CCF;
    border-radius: 50%;
    padding: 15px;
    background-color: #6A6CCF;
    width: 40px;
    height: 40px;
}

.twitter-icon,
.google-icon {
    display: flex;
    margin: 8px auto auto auto;
}

.social-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    flex-grow: 1;
    border: 0.5px solid black;
    margin: 10px;
    background-color: #F6F6F6
}

.social-text p:first-child {
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 0;
    color: #6A6CCF;
}

.social-text p:last-child {
    font-size: 40px;
    font-weight: 200;
    margin: 0 0 15px 0;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

/**** Daily Traffic Section ****/
.daily {
    border: .75px solid black;
    border-left: none;
    border-right: none;
    padding: 10px;
}

/**** Mobile Users Section ****/
.mobile-users {
    padding: 10px;
    border-bottom: .75px solid black;
}

/**** New Members Section ****/
.members {
    border-top: .75px solid black;
    border-bottom: none;
    padding: 10px;
}

.members p {
    margin: 0;
}

.members-container {
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px; */
    border-bottom: .5px solid black;
}

.members-container a {
    font-size: 14px;
}

.members-container:last-child {
    border: none;
}

.members-text {
    margin: 10px auto 10px 5px;
    vertical-align: middle;
}

.members-container p {
    margin: auto 0;
}

/**** Recent Activity Section ****/
.recent-activity {
    border-top: .75px solid black;
    padding: 10px;
}

.recent-activity p {
    margin: auto 0;
}

.activity {
    display: flex;
    /* padding: 10px; */
    border-bottom: .5px solid black;
    line-height: 20px;
}

.activity:last-child {
    border: none;
}

.activity-text {
    margin: 10px auto 10px 5px;
}

.profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
}

/**** Message Section ****/
.message {
    border-top: .75px solid black;
    padding: 10px;
}

.form-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: .6px solid #CECECE;
    border-radius: 5px;
    background: #F4F4F4;
}

.form-field:focus {
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.form-area {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: .6px solid #CECECE;
    border-radius: 5px;
    background: #F4F4F4;
}

.form-area:focus {
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

input[type="text"],
textarea {
    box-sizing: border-box;
}

/**** Settings Section ****/
.settings {
    border-top: .75px solid black;
    padding: 10px;
}