html {
    scroll-behavior: smooth;
    scroll-padding-top: 52px; /* height of sticky header */
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #6A6CCF;
    color: #fff;
    line-height: 45px;
}

/**** Header Section ****/
h1 {
    margin: auto auto auto 10px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bell {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: auto 0;
}

.bell:hover {
    opacity: 1;
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 0.3s;
}

.bell-svg {
    display: block;
}

/**** Green Dot Notification Alert ****/
.notification-alert {
    position: relative;
}

.dropdown-notification-alert {
    margin: auto 10px;
}

.dropdown-notification-alert,
.notification-alert {
    border-radius: 50%;
    width: 1px;
    height: 1px;
    background-color: limegreen;
    padding: 3px;
    top: -10px;
    left: -5px;
}

/**** Drop down Notification Bar ****/
.drop-down {
    position: relative;
    display: inline-block;
    margin: auto 0;
}

.dropdown-content {
    position: absolute;
    left: -270px;
    top: 40px;
    background-color: #194265;
    border-radius: 10px;
    width: 300px;
    max-height: 0px;
    transition: all .5s ease;
}

.single-notification {
    display: flex;
    border-bottom: 0.5px solid black;
    max-height: 0px;
    opacity: 0;
    transition: all .5s ease;
}

.notification-text {
    margin-right: auto;
    border: none;
    max-height: 0px;
    transition: all .5s ease;
}

.drop-down-close {
    margin: auto 10px;
    cursor: pointer;
}

.dropdown-content.show,
.single-notification.show,
.notification-text.show {
    width: 300px;
    max-height: 500px;
    opacity: 1;
    z-index: 2;
    transition: all 2s ease;
}

/**** User Information ****/
.user-info {
    display: flex;
    margin: auto;
}

.user_image {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 5px;
}

.user-name {
    margin: auto 5px;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

/**** Link Styles ****/
a {
    text-decoration: none;
}

/**** Main Header ****/
.main-header {
    display: flex;
    flex-wrap: wrap;
}

.headline {
    padding: 10px 15px;
    margin: 0;
    border-right: .75px solid black;
    border-bottom: none;
    line-height: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

/**** Search Bar ****/
.main-header-search {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-bottom: 0.75px solid black;
}

.main-header-search input {
    width: 80%;
    padding: 10px;
    margin: auto 15px auto auto;
    border: 0.5px solid black;
    border-radius: 6px;
    background-color: #F6F6F6;
    cursor: text;
}

.main-header-search input:focus {
    border: 1px solid #6A6CCF;
    border-radius: 6px;
    outline: none;
}

/**** Nav Section ****/
nav {
    justify-content: center;
    background-color: #194265;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: auto;
}

nav ul li a {
    display: block;
}

.nav-icon {
    padding: 10px;
    margin: 0 5px;
}

.selected {
    border-bottom: 3px solid limegreen;
    transition: 0.5s;
}

/**** Alert Banner ****/
.alert {
    padding: 10px;
    display: flex;
    background-color: #6A6CCF;
    color: white;
    border-radius: 5px;
    margin: 15px auto 0 auto;
    width: calc(100% - 45px);
    height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.alert p:first-child {
    margin: 0;
}

.alert-banner-close {
    margin: auto 0 auto auto;
}

.alert-banner-close:hover {
    cursor: pointer;
}

.label {
    margin: 15px auto 15px 5px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.5;
}

/**** Charts Section ****/
.widget-container-full, .widget-container-half {
    width: 90vw;
    margin: 10px auto;
}

/**** Traffic Section ****/
.traffic {
    padding: 10px;
}

.traffic h3 {
    margin: auto auto auto 5px;
}

.traffic-header,
.traffic-nav {
    display: flex;
    flex-wrap: wrap;
}

.traffic-nav {
    margin: 10px auto;
    padding: 0;
}

.traffic-nav-link {
    list-style: none;
    margin: 3px;
    padding: 5px 7px;
    cursor: pointer;
    color: white;
    background-color: #194265;
    border-radius: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/**** Active Traffic Nav Link ****/
.active {
    background-color: #56D93D;
    color: black;
    box-shadow: 2px 2px gray;
    font-weight: 400;
    transition-property: all 0.5s linear;
}

/**** Daily Traffic Section ****/
.daily {
    border-top: .75px solid black;
    border-bottom: .75px solid black;
    padding: 10px;
}

/**** Mobile Users Section ****/
.mobile-users {
    padding: 10px;
    border-bottom: .75px solid black;
}

/**** Social Section ****/
.outer-social-container {
    display: flex;
    flex-wrap: wrap;
}

.social {
    display: block;
    padding: 10px;
}

.social-image {
    margin: auto 10px;
    border: 1px solid #6A6CCF;
    border-radius: 50%;
    padding: 15px;
    background-color: #6A6CCF;
    width: 40px;
    height: 40px;
}

.twitter-icon,
.google-icon {
    display: flex;
    margin: 8px auto auto auto;
}

.social-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    flex-grow: 1;
    border: 0.5px solid black;
    margin: 10px;
    background-color: #F6F6F6
}

.social-text p:first-child {
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 0;
    color: #6A6CCF;
}

.social-text p:last-child {
    font-size: 40px;
    font-weight: 200;
    margin: 0 0 15px 0;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

/**** New Members Section ****/
.members {
    border-top: .75px solid black;
    border-bottom: none;
    padding: 10px 15px;
}

.members p {
    margin: 0;
}

.members-container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: .5px solid black;
}

.members-container:last-child {
    border: none;
}

.members-text {
    margin: 10px auto 10px 5px;
    vertical-align: middle;
}

.members-container p {
    margin: auto 0 auto auto;
}

.fake-link {
    color: darkblue;
    font-size: 14px;
    cursor: pointer;
}

/**** Recent Activity Section ****/
.recent-activity {
    border-top: .75px solid black;
    padding: 10px;
}

.recent-activity p {
    margin: auto 0;
}

.activity {
    display: flex;
    border-bottom: .5px solid black;
    line-height: 20px;
}

.activity:last-child {
    border: none;
}

.activity-text {
    margin: 10px auto 10px 5px;
}

.fa-chevron-up {
    transform: rotate(90deg);
    margin: auto 0;
    opacity: 0.4;
}

.profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
}

button {
    cursor: pointer;
}

/**** Message Section ****/
.message {
    border-top: .75px solid black;
    padding: 10px;
}

/* User Input Autocomplete */
.autocomplete {
    position: relative;
}

.autocomplete-items {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #CECECE;
    border-top: none;
    border-radius: 5px;
}

/* When hovering over autocomplete item*/
.autocomplete-items div:hover {
    background-color: #F4F4F4;
}

/* When navigating through the items using the arrow keys */
.message-field {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0;
    height: 99px;
}

.timezone-field {
    margin-top: 24px;
}

.user-field,
.message-field,
.timezone-field {
    width: 100%;
    padding: 10px;
    border: .6px solid #CECECE;
    border-radius: 5px;
    background-color: #F4F4F4;
    box-sizing: border-box;
}

.user-field:focus,
.message-field:focus,
.timezone-field:focus {
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
}

.autocomplete-active {
    background-color: #6A6CCF !important;
    color: #fff;
}

/* Send Button */
#send {
    width: 100%;
    margin: 5px 0;
}

/**** Settings Section ****/
.settings {
    border-top: .75px solid black;
    padding: 10px;
}

.toggle-section {
    padding: 0 5px;
    display: flex;
}

.toggle-section p {
    margin: 10px auto 10px 0;
}

/**** Toggle Switches ****/
/* The switch - the box around the slider */
.switch {
    margin: auto 0 auto auto;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #6A6CCF;
}

input:focus + .slider {
    box-shadow: 0 0 1px #6A6CCF;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.on {
    display: none;
    left: 30%;
}

.off {
    left: 70%;
}

.on,
.off {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+ .slider .on {
    display: block;
}

input:checked + .slider .off {
    display: none;
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Buttons */
.settings-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    margin: 5px 0 0 0;
}

#save {
    width: 100%;
    margin: 10px 0;
}

.button-primary {
    background-color: #194265;
}

.button-disabled {
    width: 100%;
    background-color: grey;
}

.button-primary,
.button-disabled {
    border-radius: 8px;
    margin: auto;
    padding: 10px;
    color: white;
    outline: none;
    box-shadow: none;
}

