/**** Toggle Switches ****/
/* The switch - the box around the slider */
.switch {
    margin: auto 0 auto auto;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #6A6CCF;
}

input:focus + .slider {
    box-shadow: 0 0 1px #6A6CCF;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.on {
    display: none;
    left: 30%;
}

.off {
    left: 70%;
}

.on,
.off {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+ .slider .on {
    display: block;
}

input:checked + .slider .off {
    display: none;
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Buttons */
.settings-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    margin: 5px 0 0 0;
}

#save {
    width: 100%;
    margin: 10px 0;
}

.button-primary {
    background-color: #194265;
}

.button-disabled {
    width: 100%;
    background-color: grey;
}

.button-primary,
.button-disabled {
    border-radius: 8px;
    margin: auto;
    padding: 10px;
    color: white;
    outline: none;
    box-shadow: none;
}

/* Send Button */
#send {
    width: 100%;
    margin: 5px 0;
}