.autocomplete {
    position: relative;
}

.autocomplete-items {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #CECECE;
    border-top: none;
    border-radius: 5px;
}

/* When hovering over autocomplete item*/
.autocomplete-items div:hover {
    background-color: #F4F4F4;
}

/* When navigating through the items using the arrow keys */
.message-field {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0;
    height: 99px;
}

.timezone-field {
    margin-top: 24px;
}

.user-field,
.message-field,
.timezone-field {
    width: 100%;
    padding: 10px;
    border: .6px solid #CECECE;
    border-radius: 5px;
    background-color: #F4F4F4;
    box-sizing: border-box;
}

.user-field:focus,
.message-field:focus,
.timezone-field:focus {
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
}

.autocomplete-active {
    background-color: #6A6CCF !important;
    color: #fff;
}
